# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-toml
          - id: trailing-whitespace
          - id: mixed-line-ending
          - id: end-of-file-fixer
          - id: check-added-large-files
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.7.4
      hooks:
          - id: ruff # Run the linter.
            args: [--fix]
          - id: ruff-format # Run the formatter.
