name: Test

on:
  push:
    paths-ignore:
      - "*.md"

    branches:
      - develop

  pull_request:
    paths-ignore:
      - "*.md"

jobs:
  test:
    strategy:
      matrix:
        python-version: ["3.10"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup | Checkout Repository
        uses: actions/checkout@v4

      - name: Install Poetry
        shell: bash
        run: pipx install poetry

      - name: Setup | Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Install Dependencies
        run: poetry install --with=dev

      - name: Lint with Ruff
        run: poetry run ruff check --output-format=github .

      - name: Type Check with MyPy
        run: poetry run mypy --pretty --show-error-codes .

      - name: Run Tests with Pytest
        run: poetry run pytest
